<aside class="col-md-4 blog-sidebar">

  <div class="p-3">
    <h4 class="font-italic">Lectures</h4>
    <div class="list-unstyled mb-0">
      <%= render @lectures %>
    </div>
  </div>

</aside><!-- /.blog-sidebar --> 
