<div class="comment-card">
	<div class="row">
		<div class="col-md-1">
			<%= gravatar_helper comment.user %>
		</div>
		<div class="col-md-11">
			<div class="card">
				<div class="card-block">
					<p><%= comment.content %></p>
					<div class="posted-by">
						Posted by <%= comment.user.name %> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
					</div> 
					
				</div>
			</div>
		</div>
	</div>
</div>