<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">NoteShare</h3>
        <nav class="nav nav-masthead justify-content-center app-navbar">
            <%= navbar_helper("nav-link", "span") %>
            <%= login_helper("nav-link") %>
        </nav>
    </div>
</header>