<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading"><%= current_user.education_program.title %></h1>
		<p class="lead text-muted"><%= current_user.education_program.academic_degree %></p>
		<p>
			<a href="#" class="btn btn-primary my-2">Main call to action</a>
			<a href="#" class="btn btn-secondary my-2">Secondary action</a>
		</p>
	</div>
</section>