<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @education_program.title %>
</p>

<%= link_to 'Edit', edit_education_program_path(@education_program) %> |
<%= link_to 'Back', education_programs_path %>
