.top {
    background: rgb(248, 173, 219);
    /* background: linear-gradient(burlywood 95%, azure); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    box-shadow: 0 3px grey;
    border-top: 3px solid pink;
    border-bottom: 3px solid pink;
    padding: 1px 5px;
}

